<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Tech Test</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-item nav-link active" routerLink ="/dashboard">Dashboard </a>
        </li>
        <li class="nav-item" *ngIf="userInfo">
          <span class="nav-link " >{{userInfo?.city}}</span>
        </li>
      </ul>
    </div>
  </nav>