::ng-deep .header_wrapper{
    position: fixed;
    z-index: 100;
	width: 100%;
	right: 0px;
    left: 0px;
    top: 0px;
    height: 60px;
    background-color: #fff;
    box-shadow:1px 2px 20px #f7f9ffd4;
}




@media (max-width : 992px){ 
    ::ng-deep  .header_wrapper{
        height: 100px !important;
    }
}

