<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="master-main-wrapper rounded p-3">
        <div class="row align-items-center">
          <div class="col-sm-12 col-lg-4 col-xl-2">
            <div class="m-1">
              <!--  -->
              <span class="text-uppercase h6 mb-0 text-primary">Dashboard</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="collapse-wrapper">
              <div class="bg-white rounded mt-0 border-0">
                <div>
                  <div
                    class="well well-lg card border-0 bg-white card-block card-header p-0"
                  >
                    <div class="row">
                      <div class="col-sm-12 col-lg-6 col-xl-6 mt-3">
                        <div class="graph-canvas border rounded p-3">
                          <div class="row">
                            <div class="col-sm-12 mb-2 bg-light">
                              <div
                                class="text-uppercase fs0-9 text-primary pt-2 pb-2"
                              >
                                Crypto Graph Data
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12 mb-3">
                              <canvas
                                baseChart
                                [data]="cryptobarChartData"
                                [options]="barChartOptions"
                                [plugins]="barChartPlugins"
                                [type]="barChartType"
                              >
                              </canvas>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-6 col-xl-6 mt-3">
                        <div class="graph-canvas border rounded p-3">
                          <div class="row">
                            <div class="col-sm-12 mb-2 bg-light">
                              <div
                                class="text-uppercase fs0-9 text-primary pt-2 pb-2"
                              >
                                Non Crypto Graph Data
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12 mb-3">
                              <canvas
                                baseChart
                                [data]="noncryptobarChartData"
                                [options]="barChartOptions"
                                [plugins]="barChartPlugins"
                                [type]="barChartType"
                              >
                              </canvas>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- ends -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
