/* You can add global styles to this file, and also import other style files */
//Bootstrap
@import "~bootstrap/scss/bootstrap.scss";

html,
body {
  position: relative;
  background-color: #FBFCFD !important;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 90%;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}